<h1>{{ title }}</h1>

<div class="row">
    <a href="insert">
        <button type="button" class="btn btn-primary" type="submit">Insert</button>
    </a>

    <a href="update">
        <button type="button" class="btn btn-info"    type="submit">Update</button>
    </a>

    <a href="delete">
        <button type="button" class="btn btn-danger"  type="submit">Delete</button>
    </a>
</div>